* {
  margin: 0;
  padding: 0;
}

.bodyContainer {
  background-color: #c96060;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: start;
}
.headerContainer {
  background-color: #5759e9;
  width: 97.5%;
  height: 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 24px;
}
.startContainer {
  background-color: #f80505;
  width: 10%;
  height: 100%;
}
.searchBarContainer {
  background-color: #02fff2;
  width: 60%;
  height: 100%;
}
.buttonsContainer {
  background-color: #ff7300;
  width: 15%;
  height: 100%;
}

.navigatorAndFilterAndContentContainer{
  height: 100%;
  width: 100%;
  background-color:#18ffff;
  display: flex;
  flex-direction: row;
}

.navigatorContainer{
width: 4%;
height: 100%;
background-color:#5759e9;
display: flex;
flex-direction: column;
}

.navigatorButton{
  background-color: #f80505;
  width: 5%;
  height: 5%;
  padding: 0 24px;
  margin: 12px;
}

.filterAndContentContainer{
width: 96%;
height: 100%;
background-color: aliceblue;
display: flex;
flex-direction: column;
}

.filterContainer {
  background-color: #d2fd37;
  width: 100%;
  height: 6%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.filterButton {
  background-color: #00ff22;
  width: 5%;
  height: 80%;
  padding: 0 24px;
  margin: 12px;
}

.contentContainer{
  width: 100%;
  height: 94%;
  background-color:#6eda85;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1%;
}

.cardContentContainer{
  width: 32%;
  height: 49%;
  
  margin-right: 1%;
  display: flex;
  flex-direction: column;
}
.videoContent{
width: 100%;
height: 80%;
border-radius: 4%;
background-color: #5759e9;
}

.detailContent{
width: 100%;
height: 20%;
background-color: #ff7300;
display: flex;
flex-direction: row;
}

/*1st element*/
.iconChannel{
width: 10%;
height: 65%;
background-color: #ff00f2;
}

/*2nd elements*/
.textsContainer{
width: 85%;
height: 100%;
background-color: #648a82;
display: flex;
flex-direction: column;
}
.titleText{
width: 100%;
height: 40%;
background-color: #00f7ff;
}
.channelText{
width: 80%;
height: 20%;
background-color: #00ff22;
}
.usersText{
width: 80%;
height: 20%;
background-color: #ffd102;
}
.onLiveText{
width: 80%;
height: 20%;
background-color: #ff5100;
}

/*3rd elements*/
.moreDetails{
width: 5%;
height: 50%;
background-color: #fccff9;
}




